# format & f-string

In [1]:
name = "Ahmet"
surname = "Altin"
age = 35

greating = "My name is" + name + " " + surname + "and \nI'm" + age + "yearsold."

TypeError: can only concatenate str (not "int") to str

In [4]:
name = "Ahmet"
surname = "Altin"
age = 35

greating = "My name is" + " " + name + " " + surname + "and \nI'm" + " " + str(age) + " " + "year sold."
print(greating)

My name is Ahmet Altinand
I'm 35 yearsold.

In [6]:
name = "Ahmet"
surname = "Altin"
age = 35

print("My name is {} {} and \nI'm {} yearsold.".format(name, surname, age))

My name is Ahmet Altin and
I'm 35 yearsold.

In [11]:
name = "Ahmet"
surname = "Altin"
age = 35

print("My name is {2} {1} and \nI'm {0} yearsold.".format(age, surname, name))

My name is Ahmet Altin and
I'm 35 yearsold.

In [13]:
name = "Ahmet"
surname = "Altin"
age = 35

print("My name is {n} {s} and \nI'm {a} yearsold.".format(a = age, n = name, s = surname))

My name is Ahmet Altin and
I'm 35 yearsold.

In [14]:
str1 = '{2}, {1} and {0}'.format('a', 'b', 'c')
str2 = '{0}{1}{0}'.format("abra","cad")
print(str1, str2, sep="\n")

c, b and a
abracadabra

In [15]:
name = "Ahmet"
surname = "Altin"
age = 35

print(f"My name is {name} {surname} and \nI'm {age} yearsold")

My name is Ahmet Altin and
I'm 35 yearsold

In [16]:
greating

"My name is Ahmet Altinand \nI'm 35 yearsold."

In [17]:
print(greating)

My name is Ahmet Altinand
I'm 35 yearsold.

In [18]:
len(greating)

43

In [25]:
sonuc = greating[5 : 26 : 2]
sonuc

'm sAmtAtnn '

In [26]:
sonuc2 = greating[-5 : -25 : -3]
sonuc2

'se5m\nni'

In [34]:
print(greating, sep= "_")

My name is Ahmet Altinand
I'm 35 yearsold.

In [27]:
print(*greating, sep= "_")   # * ifadesi her karekterin arasini aciyormus

M_y_ _n_a_m_e_ _i_s_ _A_h_m_e_t_ _A_l_t_i_n_a_n_d_ _
_I_'_m_ _3_5_ _y_e_a_r_s_o_l_d_.

### **string** methods

In [28]:
print(greating.upper())

MY NAME IS AHMET ALTINAND
I'M 35 YEARSOLD.

In [30]:
print(greating.upper().lower())

my name is ahmet altinand
i'm 35 yearsold.

In [32]:
print("bu yaziyi fark etmenizle".upper(),
      "FARK ETMENIZIN".lower(),
      "hic bir. sey fark. etmiyot".capitalize(),
      "fARK eDECEKSINZI".title(),
      sep="\n")

BU YAZIYI FARK ETMENIZLE
fark etmenizin
Hic bir. sey fark. etmiyot
Fark Edeceksinzi

In [41]:
print("Cekoslavakyalilastiramadiklarimizdan misinz?"
      .replace("e", "a")
      .replace("o", "ö")
      .replace("i","_")
      .title()
      .split("_"))

['Caköslavakyal', 'Last', 'Ramad', 'Klar', 'M', 'Zdan M', 'S', 'Nz?']

In [42]:
str1 = "Techpro is the best course in the world"
print(str1.swapcase())

tECHPRO IS THE BEST COURSE IN THE WORLD

In [43]:
str1 = "Techpro is the best course in the world"
print(*str1.swapcase())

t E C H P R O   I S   T H E   B E S T   C O U R S E   I N   T H E   W O R L D

In [44]:
print(str1.split("e", maxsplit=3))  # ilk uc e den sonra ayirmayi birakir

['T', 'chpro is th', ' b', 'st course in the world']

In [45]:
print(str1.split("h"), sep="ß\n")

['Tec', 'pro is t', 'e best course in t', 'e world']

In [46]:
print(*str1.split("h"), sep="ß\n")  # * liste seklinde cikti almak yerine str verir

Tecß
pro is tß
e best course in tß
e world

In [47]:
print(str1.strip("d")) # bastan ve sondan d harflerini siler

Techpro is the best course in the worl

In [48]:
print(str1.strip("d").strip("T"))

echpro is the best course in the worl

In [49]:
print(str1.replace(" ", "°"))

Techpro°is°the°best°course°in°the°world

In [50]:
print(str1.replace(" ", "°").join("**"))

*Techpro°is°the°best°course°in°the°world*

In [51]:
print(str1.replace(" ", "°").join("*\n*"))

*Techpro°is°the°best°course°in°the°world
Techpro°is°the°best°course°in°the°world*

In [52]:
len(str1)

39

In [53]:
print(str1.center(50, '§')) # 50 karaktere tamamlamak icin § leri kullandi

§§§§§Techpro is the best course in the world§§§§§§

In [54]:
print(str1.ljust(50, '§'))

Techpro is the best course in the world§§§§§§§§§§§

In [55]:
print(str1.rjust(50, '§'))

§§§§§§§§§§§Techpro is the best course in the world

In [57]:
str2 = str1.center(45, "*").center(50, "^").ljust(55, "!").rjust(60, "$")
print(str2)

$$$$$^^***Techpro is the best course in the world***^^^!!!!!

In [59]:
str2 = str2.strip("$!^*")
str2

'Techpro is the best course in the world'

In [60]:
str2

'Techpro is the best course in the world'

In [62]:
str2_2 = str2.center(30, "_")
str2_2

'Techpro is the best course in the world'

In [63]:
str3 = str1.find("the")
str3

11

In [64]:
str3 = str1.rfind("the")
str3

30

In [65]:
str3 = str1.find("the", 15, 25)  # -1 sonuc bulamadim demek bu aralikta yok demek
str3

-1

In [67]:
str3 = str1.find("the", 15, 35)
str3

30

### **if, elif, else

In [69]:
x = 20 
if x > 25:
    print(*"sayi 25 den büyük")
elif x < 15:
    print("sayi 15 den kucuk")
else:
    print(*"sayi 15 ile 25 arasi")

s a y i   1 5   i l e   2 5   a r a s i

In [70]:
x = input("bir sayi lutfen")
print(f"girdiginiz sayi {x}", end="")    # girilenler str dir

if x > 25:
    print(*"sayi 25 den büyük")
elif x < 15:
    print("sayi 15 den kucuk")
else:
    print(*"sayi 15 ile 25 arasi")

girdiginiz sayi 44

TypeError: '>' not supported between instances of 'str' and 'int'

In [74]:
x = int(input("bir sayi lutfen"))
print(f"girdiginiz sayi {x} \n", end="")

if x >= 25:
    print(*"sayi 25 den büyük")
elif x <= 15:
    print("sayi 15 den kucuk")
else:
    print(*"sayi 15 ile 25 arasi")

girdiginiz sayi 112
s a y i   2 5   d e n   b ü y ü k

In [76]:
isim = input("isminizi yaziniz!")
yas = int(input("Yasinizi giriniz"))
egitim = input("Egitim durumunuzu giriniz").lower()

if yas >= 18 and egitim == "lise" or egitim == "üniversite":
    print(f"{isim}, yasinz {yas}, ve mezuniyetiniz {egitim} oldugundan ehliyet alabilirsiniz")
else:
    print(f"{isim} ehliyet almak icin uygun kriterlere sahip degilsiniz")

14 ehliyet almak icin uygun kriterlere sahip degilsiniz

ÖDEV: Bir öğrencinin 2 yazılı bir sözlü notunu alıp hesaplanan ortalamaya göre not aralığına karşılık gelen not bilgisini yazdıran python uygulamasını yapınız. Tüm notlar eşit ağırlıktadır.

0 -24 => 0
25-44 => 1
45-54 => 2
55-69 => 3
70-84 => 4
85-100 => 5

SORU: Girilen bir sayının pozitif çift sayı olup olmadığını kontrol eden python uygulamasını yapınız.

In [78]:
sayi = int(input("bir sayi giriniz"))

if sayi %2 == 0 and sayi > 0:
    print(f"Girdiginiz sayi {sayi} pozitif ve cifttir")
else:
    print(f"Grilen sayi {sayi} cift veya pozitf degildir")

Grilen sayi 5 cift veya pozitf degildir

In [80]:
sayi = int(input("bir sayi giriniz"))

if sayi  %2 :
    print("sayi tektir")
else:
    print("sayi cifttir")

sayi tektir

# Collection Types (Array)

#### list, tuples, dictionaries, sets

#### lists

In [81]:
liste1 = []
liste1

[]

In [82]:
type(liste1)

list

In [83]:
print(type(liste1))

<class 'list'>

In [84]:
liste2 = list("alivelideli")
liste2

['a', 'l', 'i', 'v', 'e', 'l', 'i', 'd', 'e', 'l', 'i']

In [85]:
liste3 = list(1256, "ali", False)

TypeError: list expected at most 1 argument, got 3

In [86]:
liste3 = list(1256)

TypeError: 'int' object is not iterable

In [87]:
liste3 = list(False)

TypeError: 'bool' object is not iterable

list ler tek elemanli ve karakterlerine ulasabilecegi (iterable) veri tipi kabul eder

In [88]:
liste3 = list([1, 2, 3, 4, 5])
liste3

[1, 2, 3, 4, 5]

In [89]:
liste4 = list([1,2,3,4,5],[6,7],[9,10])
liste4

TypeError: list expected at most 1 argument, got 3

In [90]:
liste1 = [1, 2, 3]
liste2 = ["bir", 2, True, 5.6]
print(liste1, liste2, sep="\n")

[1, 2, 3]
['bir', 2, True, 5.6]

In [92]:
liste1[0], liste1[2]

(1, 3)

In [94]:
liste3 = ["one", "two", "three"]
liste4 = ["four", "five", "six"]
numbers = liste3 + liste4
numbers

['one', 'two', 'three', 'four', 'five', 'six']

In [95]:
list1 = ["one", "two", "three"]
list2 = [[1, 2, 3], [4, 5, 6], [7, 8, 9], 10]

print(len(list1))
print(len(list2))

3
4

In [96]:
message = "Hello world. I'm a friend".split()
message

['Hello', 'world.', "I'm", 'a', 'friend']

In [97]:
len(message)

5

In [98]:
message[3]

'a'

In [99]:
message[1 : 3]

['world.', "I'm"]

In [101]:
message[ : 4]

['Hello', 'world.', "I'm", 'a']

In [102]:
message[-1 : -4 : -1]

['friend', 'a', "I'm"]

In [103]:
name = ["ahmet", "mehmet", "mustafa"]
surname = ["yilmaz", "sert", "kaya"]

full_name1 = name[0]+" "+surname[0]
full_name2 = name[1]+" "+surname[1]
full_name3 = name[2]+" "+surname[2]
print(full_name1, full_name2, full_name3, sep="\n")

ahmet yilmaz
mehmet sert
mustafa kaya

In [104]:
listea = ["one", "two", "three"]
listea[1] = "update"
listea

['one', 'update', 'three']

In [105]:
studentA = ["Ahmet", "Demir", 2010, [70, 60, 70]]
studentB = ["Nihal", "Kaya", 1999, [80, 80, 70]]
studentC = ["Elif", "İpek", 1998, [80, 70, 90]]

result = studentA[0]
print(result)
result = studentB[1]
print(result)
result = studentC[3][1]
print(result)

Ahmet
Kaya
70

In [106]:
result = f"{studentA[0]} {studentA[1]} {2023-studentA[2]} yaşında ve not ortalaması {round((studentA[3][0] + studentA[3][1] + studentA[3][2])/3, 2)}"
print(result)

Ahmet Demir 13 yaşında ve not ortalaması 66.67

### list methods

In [107]:
liste = ["apple", "banana", "orange"]
liste.append("kiwi")
liste

['apple', 'banana', 'orange', 'kiwi']

In [108]:
liste = ["apple", "banana", "orange"]
liste.append("kiwi", "cherry")
liste

TypeError: list.append() takes exactly one argument (2 given)

In [109]:
liste.append(["kiwi", "cherry"])
liste

['apple', 'banana', 'orange', ['kiwi', 'cherry']]

In [110]:
liste.insert(3, "strawberry")
liste

['apple', 'banana', 'orange', 'strawberry', ['kiwi', 'cherry']]

In [111]:
liste.remove("orange")
liste

['apple', 'banana', 'strawberry', ['kiwi', 'cherry']]

In [112]:
liste.pop()
liste

['apple', 'banana', 'strawberry']

In [113]:
liste.pop(0)

'apple'

In [114]:
liste

['banana', 'strawberry']

In [115]:
del liste
liste

NameError: name 'liste' is not defined

In [116]:
liste = ["apple", "banana", "orange"]
liste

['apple', 'banana', 'orange']

In [117]:
liste.clear()
liste

[]

ÖDEV: Bir öğrencinin 2 yazılı bir sözlü notunu alıp hesaplanan ortalamaya göre not aralığına karşılık gelen not bilgisini yazdıran python uygulamasını yapınız. Tüm notlar eşit ağırlıktadır.

0 -24 => 0
25-44 => 1
45-54 => 2
55-69 => 3
70-84 => 4
85-100 => 5

In [149]:
# Practise_Odev_ ilyas beyin
yaz_1=int(input("Birinci Yazılı Notunu Giriniz",))
yaz_2= int(input("İkinci Yazılı Notunu Giriniz",))
sozlu=int(input("Sözlü Notunu Giriniz",))
ortalama=float(( yaz_1 + yaz_2 + sozlu)/3)
ort=round(ortalama)
if ort in range(0,25):
    print("Sınav Not Ortalaman", ort, "Geçme Notun:0")
elif ort in range(25,45):
     print ("Sınav Not Ortalaman", ort, "Geçme Notun:1")
elif ort in range(45,55):
    print ("Sınav Not Ortalaman", ort, "Geçme Notun:2")
elif ort in range(55,70):
    print ("Sınav Not Ortalaman", ort, "Geçme Notun:3")
elif ort in range(70,85):
    print ("Sınav Not Ortalaman", ort, "Geçme Notun:4")
elif ort in range(85,101):
    print ("Sınav Not Ortalaman", ort, "Geçme Notun:5")
else:
    print("Sınav Not Ortalaması 0-100 Arasında Olması Gerek. Girilen Notları Kontrol Ediniz")

Sınav Not Ortalaman 65 Geçme Notun:3

In [145]:
# Practise_Odev_ Sungur
exam1 = float(input("Birinci sinav sonucunu yazinz"))
exam2 = float(input("Ikinci sinav sonucunu yazinz"))
verbal = float(input("Sozlü sinav sonucunu yazinz"))

average = round((exam1 + exam2 + verbal) / 3, 0) 

if average < 0 or average > 100:
    print("Not ortalamaniz belirlenen aralikta degildir. Tekrar deneyin")
else:
    if average < 25:
        print(f"Not ortalamaniz = {average} ve notunuz 'Sifir' dir")
    elif average < 45:
        print(f"Not ortalamaniz = {average} ve notunuz 'Bir' dir")
    elif average < 55:
        print(f"Not ortalamaniz = {average} ve notunuz 'Iki' dir")
    elif average < 70:
        print(f"Not ortalamaniz = {average} ve notunuz 'Uc' tur")
    elif average < 85:
        print(f"Not ortalamaniz = {average} ve notunuz 'Dort' dur")
    elif average <= 100:
        print(f"Not ortalamaniz = {average} ve notunuz 'Bes' tir")

Not ortalamaniz = 45.0 ve notunuz 'Iki' dir