# Lists Methods

### extend()

In [9]:
liste1 =[1, 2, 3, 4, 5, 6, 7]
liste2 =[8, 9, 10]            # yani liste2 ye birsey yapmadan liste2 yi liste1 e ekledi

liste1.extend(liste2)
print(liste1)
print(liste2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[8, 9, 10]

In [10]:
liste1.extend([11, 12, 13])
liste1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [11]:
liste1.extend("deneme") # iterable olan verileri listenin sonuna ekler
liste1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 'd', 'e', 'n', 'e', 'm', 'e']

In [12]:
liste1.extend((False, True, 0, "para"))

In [13]:
print(liste1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 'd', 'e', 'n', 'e', 'm', 'e', False, True, 0, 'para']

In [14]:
liste1.extend(20)  # iterable olmayan veriyi eklemez

TypeError: 'int' object is not iterable

### join()

In [16]:
liste = ["apple", "banana", "orange"]
liste_1 = ["apple", "banan", "orange"]
"***".join(liste) + "---" + "***".join(liste_1)

'apple***banana***orange---apple***banan***orange'

### listeleri kopyalama veya esitleme

In [17]:
a = ["apple", "banana"]
b = ["cherry", "kiwi"]

a = b                # bu islemle a nin ram deki adresini, b nin adresi ile degistirip b nin degerlerini kullanmasini sagliyoruz
print(a, b, end="\n")

['cherry', 'kiwi'] ['cherry', 'kiwi']

In [18]:
b.insert(2, "strawbery") # b deki degisiklik a da da görülür
print(b)

['cherry', 'kiwi', 'strawbery']

In [19]:
print(a)

['cherry', 'kiwi', 'strawbery']

In [20]:
c = ["ali", "veli", "deli"]
d = ["zeynep", "nihal", "defne"]

d = c.copy()       # bu sekilde ayni verinin kopyasini baska bir adrese tanimladik

print(c, d, sep="\n")

['ali', 'veli', 'deli']
['ali', 'veli', 'deli']

In [21]:
d.insert(2, "ayse")
print (d)
print(c)

['ali', 'veli', 'ayse', 'deli']
['ali', 'veli', 'deli']

## sort()

In [22]:
liste = [20, 30, 5, 47, 0, -20, -1997]
liste.sort()
liste

[-1997, -20, 0, 5, 20, 30, 47]

In [26]:
liste1 = ["ali", "veli", "deli", "fatma", "ayßel"]
liste1.sort()
liste1

['ali', 'ayßel', 'deli', 'fatma', 'veli']

In [27]:
liste1.append("ayten")
liste1.sort()
liste1

['ali', 'ayten', 'ayßel', 'deli', 'fatma', 'veli']

In [28]:
liste1[2] = "aysel"
liste1.sort()
liste1

['ali', 'aysel', 'ayten', 'deli', 'fatma', 'veli']

In [29]:
liste1.sort(reverse=True)
liste1

['veli', 'fatma', 'deli', 'ayten', 'aysel', 'ali']

In [31]:
liste1.reverse() # tam karsilayamayabiliyor
liste1

['veli', 'fatma', 'deli', 'ayten', 'aysel', 'ali']

### min(), max()

In [32]:
liste2 = [1, 500, 56545, 5688]
max(liste2)

56545

In [33]:
min(liste2)

1

### count()

In [34]:
print(max(liste1))
print(min(liste1))  # ascii degerlerine göre kiyasliyor

veli
ali

In [35]:
liste1.append("ayten")
liste1.count("ayten")

2

In [36]:
type(liste1.count("ayten"))

int

### ord(), chr()

In [37]:
ord("G")

71

In [39]:
chr(117)

'u'

In [40]:
ogrenciler = ["ahmet", "ayse", "mehmet"]
numaralar = [150, 160, 170]
print(numaralar[ogrenciler.index("ayse")])

160

## **tuples
her bir elemani birden fazla kulanabiliyoruz

In [41]:
()    # veya
tuple()

()

In [42]:
tuple("buraya str ifade yaziyorum")

('b',
 'u',
 'r',
 'a',
 'y',
 'a',
 ' ',
 's',
 't',
 'r',
 ' ',
 'i',
 'f',
 'a',
 'd',
 'e',
 ' ',
 'y',
 'a',
 'z',
 'i',
 'y',
 'o',
 'r',
 'u',
 'm')

In [43]:
tuple(1,2,3,4)   # tuple tek iterable degisken alir

TypeError: tuple expected at most 1 argument, got 4

In [44]:
tuple(123,)   # elemanlar iterable ister

TypeError: 'int' object is not iterable

In [45]:
tuple([1, 2, 3, 4])

(1, 2, 3, 4)

In [46]:
aa = (1, 2, 3, 4)
type(aa)

tuple

In [47]:
aa = ("ahmet")  # kural, tek eleman iceriyorsa , kullanilmali
type(aa)

str

In [48]:
aa = ("ahmet",)  # kural, tek eleman iceriyorsa , kullanilmali
type(aa)

tuple

In [49]:
"ahmet", "mehmet"  # tuple olarak kayt eder

('ahmet', 'mehmet')

In [50]:
3,14     # bu bir tuple veri tipi olark kayt eder

(3, 14)

In [51]:
"ahmet", "mehmet" + "zeynep" # yine tuple ama son ikiyi concade yapti

('ahmet', 'mehmetzeynep')

In [52]:
("ahmet", "mehmet") + "zeynep" # tuple degismez old icin ve concatenate de mumkun degil

TypeError: can only concatenate tuple (not "str") to tuple

In [54]:
("ahmet", "mehmet") + ("zeynep", "fatma") + ("ayse", "kaan") # tuple lari birlestirdik

('ahmet', 'mehmet', 'zeynep', 'fatma', 'ayse', 'kaan')

In [56]:
a = ("banana", "grape", "cherry")
b = list(a)
b[0] = "apple"
a = tuple(b)

print(a)

('apple', 'grape', 'cherry')

In [57]:
message = ("Hello world, I'm a friend".split())
message

['Hello', 'world,', "I'm", 'a', 'friend']

In [58]:
message = tuple("Hello world, I'm a friend".split())
message

('Hello', 'world,', "I'm", 'a', 'friend')

In [59]:
print(message[0:2])

('Hello', 'world,')

In [60]:
print(message[:2])

('Hello', 'world,')

In [62]:
print(message[-3: -1])

("I'm", 'a')

In [63]:
print(message[-4::2])

('world,', 'a')

In [64]:
tuple(range(1,11))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [65]:
tuple(range(1, 20, 5))

(1, 6, 11, 16)

In [68]:
tuple(range(20))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [69]:
list(range(0,20,5))

[0, 5, 10, 15]

In [70]:
tuples = (1, 2, 3, 4, 5, True, False, 5.6, (2, 3, 4), [7, 8, 9])
tuples

(1, 2, 3, 4, 5, True, False, 5.6, (2, 3, 4), [7, 8, 9])

In [71]:
len(tuples)

10

In [73]:
tuples[9][0]

7

In [74]:
tuples[10][2]

IndexError: tuple index out of range

In [75]:
tuples.count(2)

1

In [76]:
tuples.insert(5, 6)

AttributeError: 'tuple' object has no attribute 'insert'

In [77]:
tuples.index(5.6) # tuple icindeki degeri yazmamiz gerekiyor.

7

In [78]:
tuples.clear() # attribute lar icin nokta koyup cikan listeden fonksiyonlari görebiliriz

AttributeError: 'tuple' object has no attribute 'clear'

In [79]:
tuples.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [80]:
sorted(tuples)

TypeError: '<' not supported between instances of 'tuple' and 'int'

In [81]:
tuple2 = (25, 69, 88,125, 96, 1)  # tuple daki verileri suralanmis, liste halinde verdi
sorted(tuple2)

[1, 25, 69, 88, 96, 125]

In [82]:
type(sorted(tuple2))

list

In [83]:
tuple(sorted(tuple2))  # tuple2 yi degistirmedik, siralanmis tuple i yeni tuple olusturduk

(1, 25, 69, 88, 96, 125)

In [84]:
del tuples
tuples

NameError: name 'tuples' is not defined

In [87]:
a = tuple(range(10))
tuple(sorted(a, reverse = 0))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [85]:
a = tuple(range(10))
tuple(sorted(a, reverse = 1))

(9, 8, 7, 6, 5, 4, 3, 2, 1, 0)

In [88]:
b = (20, 200, 65, 7, 9, 6, 1998)
b = sorted(b)
print(b)
tuple(b)

[6, 7, 9, 20, 65, 200, 1998]

(6, 7, 9, 20, 65, 200, 1998)

## **-2 dictionaries

In [89]:
{}
dict()

{}

In [90]:
sozluk = dict(birinci = "first", ikinci = "second") # dict fonksiyonu kullanilirsa ilk key ler tirnaksiz ve atama sembolu kullanilir
sozluk

{'birinci': 'first', 'ikinci': 'second'}

In [92]:
personel = {"adi" : "mehmet", "soyadi" : "keser", "yasi" : 30}
personel

{'adi': 'mehmet', 'soyadi': 'keser', 'yasi': 30}

In [93]:
personel.items()

dict_items([('adi', 'mehmet'), ('soyadi', 'keser'), ('yasi', 30)])

In [94]:
type(personel.items())

dict_items

In [96]:
personel.keys()

dict_keys(['adi', 'soyadi', 'yasi'])

In [97]:
type(personel.keys())

dict_keys

In [98]:
personel.values()

dict_values(['mehmet', 'keser', 30])

In [99]:
personel

{'adi': 'mehmet', 'soyadi': 'keser', 'yasi': 30}

In [100]:
personel["soyadi"]

'keser'

In [101]:
x = personel["yasi"]  # yas taki velue degerini otomatik olarak aldi
x

30

In [103]:
kisi = dict({"adi" : "ali", "soyadi" : "kaya"}, yasi = 24)
print(kisi)

{'adi': 'ali', 'soyadi': 'kaya', 'yasi': 24}

In [107]:
ogrenci = {
    "numarasi":"150",
    "adi" : "ali",
    "soyadi" : "kaya"
}
print(ogrenci["numarasi"])
print(ogrenci["adi"])
print(ogrenci["soyadi"])

150
ali
kaya

In [109]:
numara = ogrenci.get("numarasi")
numara

'150'

In [110]:
ad = ogrenci.get("adi")
ad

'ali'

In [111]:
soyad = ogrenci.get("soyadi")
soyad

'kaya'

In [112]:
ogrenci["numarasi"] = 220
print(ogrenci)

{'numarasi': 220, 'adi': 'ali', 'soyadi': 'kaya'}

In [113]:
ogrenci["cinsiyet"] = "E"
print(ogrenci)

{'numarasi': 220, 'adi': 'ali', 'soyadi': 'kaya', 'cinsiyet': 'E'}

In [114]:
ogrenci.clear()
ogrenci

{}

In [115]:
del ogrenci
ogrenci

NameError: name 'ogrenci' is not defined

In [116]:
ogrenci = {
    "numarasi":"150",
    "adi" : "ali",
    "soyadi" : "kaya"
}
print(ogrenci)

{'numarasi': '150', 'adi': 'ali', 'soyadi': 'kaya'}

In [117]:
ogrenci.popitem()
ogrenci

{'numarasi': '150', 'adi': 'ali'}

In [1]:
ogrenci = {
    "numarasi":"150",
    "adi" : "ali",
    "soyadi" : "kaya"
}
ogrenci2 = ogrenci
ogrenci2

{'numarasi': '150', 'adi': 'ali', 'soyadi': 'kaya'}

In [3]:
ogrenci2["memleket"] = "ankara"
ogrenci2

{'numarasi': '150', 'adi': 'ali', 'soyadi': 'kaya', 'memleket': 'ankara'}

In [4]:
ogrenci # bilgileri ayni adresten cektikleri icin ilk veri de degisti

{'numarasi': '150', 'adi': 'ali', 'soyadi': 'kaya', 'memleket': 'ankara'}

In [5]:
ogrenci3 = ogrenci2.copy()
ogrenci3["yas"] = 25
print(ogrenci)
print(ogrenci2)
print(ogrenci3)

{'numarasi': '150', 'adi': 'ali', 'soyadi': 'kaya', 'memleket': 'ankara'}
{'numarasi': '150', 'adi': 'ali', 'soyadi': 'kaya', 'memleket': 'ankara'}
{'numarasi': '150', 'adi': 'ali', 'soyadi': 'kaya', 'memleket': 'ankara', 'yas': 25}

In [7]:
sayilar = ("birinci", "ikinci", "ucuncu")
deger = 0
new_dict = dict.fromkeys(sayilar, deger)
new_dict

{'birinci': 0, 'ikinci': 0, 'ucuncu': 0}

In [8]:
sayilar = ("birinci", "ikinci", "ucuncu")
deger = (1, 2, 3)                      # iki tuple dan dict olusturuyor. ama ikinci dosyasi hepsine atiyor
new_dict = dict.fromkeys(sayilar, deger)  # ikinci dosyanin tek deger olarak taniyor
new_dict

{'birinci': (1, 2, 3), 'ikinci': (1, 2, 3), 'ucuncu': (1, 2, 3)}

In [9]:
sayilar = ("birinci", "ikinci", "ucuncu")
new_dict = dict.fromkeys(sayilar)       # ikinci dosya olmadigi icin none olarak atadi
new_dict

{'birinci': None, 'ikinci': None, 'ucuncu': None}

In [10]:
users = {
    'user1' : {
        "age" : 36,
        "roles" : ["user"],
        "email" : "user1@email.com",
        "address" : "istanbul",
        "phone" : "34523556"
    }, 
     'user2' : {
        "age" : 32,
        "roles" : ["admin","user"],
        "email" : "user2@email.com",
        "address" : "Ankara",
        "phone" : "3155223556"
    }
}

In [11]:
print(users["user1"]["email"])

user1@email.com

In [12]:
print(users["user2"]["roles"][0])

admin

In [13]:
personel = {}
number = input("personel no: ")
name = input("personel adi: ")
soyad = input("presonel soyadi: ")
telefon = input("personel telefon: ")

personel.update({
    "no" : number,
    "isim" : name,
    "soyisim" : soyad,
    "tel" : telefon
})

print(personel)

{'no': '345', 'isim': 'alu', 'soyisim': 'kaya', 'tel': '346634632'}

In [14]:
personel = {"user1" : {}, "user2": {}}

number = input("personel no: ")
name = input("personel adi: ")
soyad = input("presonel soyadi: ")
telefon = input("personel telefon: ")

personel["user1"].update({
    "no" : number,
    "isim" : name,
    "soyisim" : soyad,
    "tel" : telefon
})

number = input("personel no: ")
name = input("personel adi: ")
soyad = input("presonel soyadi: ")
telefon = input("personel telefon: ")

personel["user2"].update({
    "no" : number,
    "isim" : name,
    "soyisim" : soyad,
    "tel" : telefon
})

print(personel)

{'user1': {'no': '234', 'isim': 'asye', 'soyisim': 'kaya', 'tel': '4563463'}, 'user2': {'no': '456', 'isim': 'mehmet', 'soyisim': 'parlak', 'tel': '6574564'}}

In [15]:
"user1" in personel

True

In [16]:
"no" in personel  # ic teki dict te oldugu icin False

False

In [17]:
"no" in personel["user2"]

True

In [18]:
D = {1 : 1, 2 : '2', '1': 1, '2' : 3}#
D['1'] = 2
print(D[D[D[str(D[1])]]])

3