# Collection Type

### Lists .. mutable yani degistirilebilir data
iterable demek indexlerine ayrilabilir demek

In [ ]:
list()
[]

In [1]:
"Techpro"[0]

'T'

In [3]:
list_1 = list("Techpro")
list_1

['T', 'e', 'c', 'h', 'p', 'r', 'o']

In [4]:
len(list_1)

7

In [5]:
len("Nasuh")  # lenght boyutu, eleman sayisi

5

In [6]:
str_1 = "Techpro"

In [7]:
list(str_1)

['T', 'e', 'c', 'h', 'p', 'r', 'o']

In [8]:
print(type(list_1))

<class 'list'>

In [9]:
str(list_1)    #  stringe cevirdik

"['T', 'e', 'c', 'h', 'p', 'r', 'o']"

In [10]:
len(str(list_1))  # iki tirnak arasindaki her karakter yazilinca 35 oluyor

35

In [11]:
liste_2 = ["Techpro"]  # [] ile olusturulan listeler icindeki degerleri toplu olarak alir
liste_2                # bu kullanim daha cok kullanilir/ tercih edilir.

['Techpro']

In [12]:
len(liste_2)

1

In [13]:
liste_3 = [4, "Taha", False, 3.14]
liste_3

[4, 'Taha', False, 3.14]

In [14]:
len(liste_3)

4

In [15]:
empty_list = list()
empty_list

[]

In [16]:
empty_list_2 = []
empty_list_2

[]

In [17]:
# print(type(list))    # birisinin meraki icin yazildi

<class 'type'>

In [19]:
liste_4 = ["aybüke, ahmet, sadik, erdem"]
len(liste_4)

1

In [20]:
liste_5 = ["aybüke", "ahmet", "sadik", "erdem"]
len(liste_5)

4

In [21]:
liste_6 = [125]
print(liste_6)
len(liste_6)

[125]

1

In [23]:
liste_7 = list(125)      # ctrl + shift + L ile degiskenlerin hepsinin adini degistirebiliriz 
print(liste_7)
len(liste_7)

TypeError: 'int' object is not iterable

In [26]:
liste_8 = list(125, 126)
print(liste_8)
len(liste_8)

TypeError: list expected at most 1 argument, got 2

list() fonksiyonu iterable dir ve ancak bir degisken tanimlanabilir?, [] not iterable

list() fonksonuna tek bir eleman iterable atanir. 

[] icine istedigimiz kadar sey koyabiliriz

In [27]:
liste_9 = [1 , 5, 3.14, False, "Bahadir", [4, 5]]
liste_9

[1, 5, 3.14, False, 'Bahadir', [4, 5]]

In [28]:
len(liste_9)

6

In [29]:
liste_9[-1]

[4, 5]

In [31]:
liste_9[5]

[4, 5]

In [32]:
liste_9[-1][0]

4

In [38]:
liste_9[4]

'Bahadir'

In [37]:
liste_9[4][2]

'h'

In [43]:
liste_9[2]

3.14

In [44]:
liste_9[2][1]

TypeError: 'float' object is not subscriptable

In [42]:
str(liste_9[2])[1]

'.'

In [47]:
liste_9[1]

5

In [46]:
liste_9[1] ** 2

25

In [49]:
str_1

'Techpro'

In [50]:
str_1[0]

'T'

In [51]:
srt_1[0] = "P"

NameError: name 'srt_1' is not defined

In [52]:
sayi_listesi = [16, 25, [12, 14, 18], 27, 36]
sayi_listesi

[16, 25, [12, 14, 18], 27, 36]

In [54]:
sayi_listesi[0] = 9
sayi_listesi

[9, 25, [12, 14, 18], 27, 36]

In [56]:
sayi_listesi[-1] = "halil"
sayi_listesi
# listelere eleman ekle cikar yaptigimiz icin cok kullanislidir

[9, 25, [12, 14, 18], 27, 'halil']

In [57]:
sayi_listesi[3] = 28, 29
sayi_listesi
# bir eleman yerine yine bir elmen ama parantez icinde bircok elmen atanabilir

[9, 25, [12, 14, 18], (28, 29), 'halil']

iki farkli listeyi toplayabiliriz, carpabiliriz

In [58]:
[1, 2, 3] + ["Omer", "Ferhat"]

[1, 2, 3, 'Omer', 'Ferhat']

In [59]:
[1, False] * 3

[1, False, 1, False, 1, False]

In [61]:
[1, False] * -1

[]

In [67]:
liste_10 = [1] *10
liste_10

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [66]:
liste_10[5:] = [2] * 5
liste_10

[4, 4, 4, 4, 1, 2, 2, 2, 2, 2]

In [68]:
liste_10[:3] = [4] * 4
liste_10

[4, 4, 4, 4, 1, 1, 1, 1, 1, 1, 1]

In [69]:
liste_10[:1] = [5] * 2
liste_10

[5, 5, 4, 4, 4, 1, 1, 1, 1, 1, 1, 1]

In [71]:
liste_11 = [5] * 10
liste_11

[5, 5, 5, 5, 5, 5, 5, 5, 5, 5]

In [72]:
liste_11[:3] = 1,2
liste_11

[1, 2, 5, 5, 5, 5, 5, 5, 5]

### Basic Operations with lists

In [73]:
sayilar = [1, 2, 3, 4, 5]
sayilar

[1, 2, 3, 4, 5]

##### append()      
listenin en sonuna eleman ekler

In [74]:
sayilar.append(6)

In [79]:
sayilar

[1, 2, 3, 4, 5, 6, [7, 8], [7, 8]]

In [76]:
sayilar.append(4,5)

TypeError: list.append() takes exactly one argument (2 given)

In [81]:
sayilar.append([7, 8])    # 4 defa calistirildigi icin 4 kez ekleme yapti
sayilar

[1, 2, 3, 4, 5, 6, [7, 8], [7, 8], [7, 8], [7, 8]]

### insert ()

In [82]:
sayilar_2 = [1, 4, 9, 16, 25]
sayilar_2

[1, 4, 9, 16, 25]

In [85]:
sayilar_2.insert(1, "nazim")

In [86]:
sayilar_2

[1, 'nazim', 4, 9, 16, 25]

In [88]:
sayilar_2.insert(0, 'enes')
sayilar_2

['enes', 'enes', 1, 'nazim', 4, 9, 16, 25]

In [90]:
sayilar_2.insert(-1, 'koray') # insert ile en sona eleman koyamiyoruz. onun icin append var
sayilar_2

['enes', 'enes', 1, 'nazim', 4, 9, 16, 'koray', 'koray', 25]

In [91]:
sayilar_2.insert(100, 'baris')

In [92]:
sayilar_2

['enes', 'enes', 1, 'nazim', 4, 9, 16, 'koray', 'koray', 25, 'baris']

In [93]:
sayilar_2.insert(len(sayilar_2), 'ömer')
sayilar_2

['enes', 'enes', 1, 'nazim', 4, 9, 16, 'koray', 'koray', 25, 'baris', 'ömer']

In [95]:
sayilar_3 = [34, 35, 36]

In [98]:
sayilar_3.insert(3, 45)

In [99]:
sayilar_3

[34, 35, 36, 45, 41]

In [100]:
sayilar_3.insert(5, 80)

In [101]:
sayilar_3

[34, 35, 36, 45, 41, 80]