In [8]:
# Mükemmel sayi bulma programi, 
# 6, 28, 496 sayilari gibi (enes umit beyin cözümü)

sayi = int(input("sayi :"))
toplam = 0
i = 1
while(i < sayi):
    if (sayi % i == 0):
        toplam += i
    i += 1
if (toplam == sayi):
    print(sayi,"mukemmel sayidir")
else:
    print(sayi ,"mukemmel sayi degildir")

0 mukemmel sayidir

# zip()

In [10]:
a = ["appe", "orange","banana"]
b = [1,2,3]

In [11]:
zip(a,b)

In [12]:
list(zip(a,b))

[('appe', 1), ('orange', 2), ('banana', 3)]

In [13]:
tuple(zip(a,b))

(('appe', 1), ('orange', 2), ('banana', 3))

In [14]:
x = "techpro"
y = "enes"
z = "ali"

In [15]:
list(zip(x,y,z))

[('t', 'e', 'a'), ('e', 'n', 'l'), ('c', 'e', 'i')]

In [16]:
list(zip(z, x,y))    # sralama önemli

[('a', 't', 'e'), ('l', 'e', 'n'), ('i', 'c', 'e')]

In [17]:
list(zip("techpro", [1,2,3,4,5], []))  # elemani en az olan listeye göre birlestirir

[]

In [18]:
name = ["murat", "enes", "koray"]
age = [35, 25, 23]
job = ["Dat-Sc", "phyt-dev", "data-ana"]

In [19]:
for i,j,k in zip(name, age, job):
    print(f"{i:<10}{j:<5}{k:<15}")

murat     35   Dat-Sc
enes      25   phyt-dev
koray     23   data-ana

In [21]:
for i,j in zip(name, age, job):   # ya 1 yada 3 degisken kullanmaliyiz
    print(f"{i:<10}{j:<5}{k:<15}")

ValueError: too many values to unpack (expected 2)

In [20]:
print(list(zip(name, age, job)))

[('murat', 35, 'Dat-Sc'), ('enes', 25, 'phyt-dev'), ('koray', 23, 'data-ana')]

In [28]:
liste_1 = ["techpro", "education"] * 10
len(liste_1)

20

In [30]:
list(zip(range(1,20), liste_1))

[(1, 'techpro'),
 (2, 'education'),
 (3, 'techpro'),
 (4, 'education'),
 (5, 'techpro'),
 (6, 'education'),
 (7, 'techpro'),
 (8, 'education'),
 (9, 'techpro'),
 (10, 'education'),
 (11, 'techpro'),
 (12, 'education'),
 (13, 'techpro'),
 (14, 'education'),
 (15, 'techpro'),
 (16, 'education'),
 (17, 'techpro'),
 (18, 'education'),
 (19, 'techpro')]

In [25]:
a

['appe', 'orange', 'banana']

## enumerate()

In [26]:
enumerate(a)

In [27]:
list(enumerate(a))  # enumerate 0 dan baslar

[(0, 'appe'), (1, 'orange'), (2, 'banana')]

In [32]:
list(enumerate(liste_1, 101))  # kactan baslayacagini belirleyebilyoruz. burda 101 den basliyor

[(101, 'techpro'),
 (102, 'education'),
 (103, 'techpro'),
 (104, 'education'),
 (105, 'techpro'),
 (106, 'education'),
 (107, 'techpro'),
 (108, 'education'),
 (109, 'techpro'),
 (110, 'education'),
 (111, 'techpro'),
 (112, 'education'),
 (113, 'techpro'),
 (114, 'education'),
 (115, 'techpro'),
 (116, 'education'),
 (117, 'techpro'),
 (118, 'education'),
 (119, 'techpro'),
 (120, 'education')]

In [33]:
set(zip(a,b))

{('appe', 1), ('banana', 3), ('orange', 2)}

In [36]:
set(zip(x,y,z))

{('c', 'e', 'i'), ('e', 'n', 'l'), ('t', 'e', 'a')}

In [34]:
dict(zip(a,b))

{'appe': 1, 'orange': 2, 'banana': 3}

In [37]:
dict(zip(b, a))

{1: 'appe', 2: 'orange', 3: 'banana'}

In [35]:
dict(zip(x,y,z))

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [39]:
num = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

In [55]:
for i in range(min(num), max(num)+1):
    if i in num:
        continue
    else:
        print(i, end=" ")

8 12 14 23 25 31 32 38 40 43 49

In [66]:
set1 = set(num)
set2 = set(range(min(num), max(num)+1))

set(set2 - set1)

{8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49}

In [58]:
empty_list = []

for i in range(min(num), max(num)):

    if i not in num:
        empty_list.append(i)

print(empty_list)

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

In [59]:
empty_list = []

for i in range(min(num), max(num)):

    if i in num:
        continue
    empty_list.append(i)

print(empty_list)

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

liste_2 deki tek sayilar aynen kalsin, cift sayilari karesi ile yerdegistir

In [67]:
liste_2 = [1,2,3,4,5,6]
yeni_liste = []
for i in liste_2:
    if i %2 == 1:
        yeni_liste.append(i)
    else:
        yeni_liste.append(i**2)
print(yeni_liste)

[1, 4, 3, 16, 5, 36]

# List Comprehension

In [68]:
liste_3 = [1,2,3,4,5]
empty_list = []
for i in liste_3:
    empty_list.append(i **2)
print(empty_list)

[1, 4, 9, 16, 25]

In [69]:
[i ** 2 for i in liste_3]    # önce islem + döngü + kullancagimiz liste

[1, 4, 9, 16, 25]

In [70]:
[i ** 2 for i in [6,7,8,9]] # min  10 kat hizli clisir

[36, 49, 64, 81]

In [71]:
liste_4 = ["renault*","fiat?!","ford?!"]
liste_4

['renault*', 'fiat?!', 'ford?!']

In [78]:
[i.replace("*","").replace("!","").replace("?","") for i in liste_4]

['renault', 'fiat', 'ford']

In [76]:
new_list = []
for i in liste_4:
    new_list.append(i.replace("*","").replace("!","").replace("?",""))
print(new_list)

['renault', 'fiat', 'ford']

In [79]:
liste_3 = [1,2,3,4,5]
empty_list = []
for i in liste_3:
    empty_list.append(i **2)
print(empty_list)

[1, 4, 9, 16, 25]

In [80]:
[i ** 2 for i in liste_3 if i % 2]
# yapilacak islem + for + i + liste + if + kosul

[1, 9, 25]

In [81]:
liste_2 = [1,2,3,4,5,6]
yeni_liste = []
for i in liste_2:
    if i %2 == 1:
        yeni_liste.append(i)
    else:
        yeni_liste.append(i**2)
print(yeni_liste)

[1, 4, 3, 16, 5, 36]

In [82]:
[i if i % 2 else i ** 2 for i in [1,2,3,4,5,6]]
# önce if le yapacagi islem + if + kosul + else + else islemi + for + i + liste

[1, 4, 3, 16, 5, 36]

In [83]:
[i**2 if i%5==0 else i for i in range(0,21)]

[0, 1, 2, 3, 4, 25, 6, 7, 8, 9, 100, 11, 12, 13, 14, 225, 16, 17, 18, 19, 400]

## nested loops

In [84]:
for i in ["Omer", "Eren", "Nazim"]:  # soldan saga dogru giderken döngü bitene kadar 
    for j in [1,2,3,4,5]:             # is yapar sonra bastan baslar
        print(i, j)

Omer 1
Omer 2
Omer 3
Omer 4
Omer 5
Eren 1
Eren 2
Eren 3
Eren 4
Eren 5
Nazim 1
Nazim 2
Nazim 3
Nazim 4
Nazim 5

In [85]:
for i in ["Omer", "Eren", "Nazim"]:   
    for j in [1,2,3,4,5]:            
        print(i, j)
    print("ic döngü sonu")

Omer 1
Omer 2
Omer 3
Omer 4
Omer 5
ic döngü sonu
Eren 1
Eren 2
Eren 3
Eren 4
Eren 5
ic döngü sonu
Nazim 1
Nazim 2
Nazim 3
Nazim 4
Nazim 5
ic döngü sonu

In [87]:
for i in ["Omer", "Eren", "Nazim"]:   
    for j in [1,2,3,4,5]:            
        print(i, j)
    print("ic döngü sonu")
print("tüm döngülerin sonu")

Omer 1
Omer 2
Omer 3
Omer 4
Omer 5
ic döngü sonu
Eren 1
Eren 2
Eren 3
Eren 4
Eren 5
ic döngü sonu
Nazim 1
Nazim 2
Nazim 3
Nazim 4
Nazim 5
ic döngü sonu
tüm döngülerin sonu

In [90]:
for i in range(1,2):
    for j in range(0,11):
        print(f"{i} x {j:<2} = {i * j}")

1 x 0  = 0
1 x 1  = 1
1 x 2  = 2
1 x 3  = 3
1 x 4  = 4
1 x 5  = 5
1 x 6  = 6
1 x 7  = 7
1 x 8  = 8
1 x 9  = 9
1 x 10 = 10

In [95]:
for i in range(1,4):
    for j in range(0,11):
        print(f"{i} x {j:<2} = {i * j}")
    print("++**(())**++")

1 x 0  = 0
1 x 1  = 1
1 x 2  = 2
1 x 3  = 3
1 x 4  = 4
1 x 5  = 5
1 x 6  = 6
1 x 7  = 7
1 x 8  = 8
1 x 9  = 9
1 x 10 = 10
++**(())**++
2 x 0  = 0
2 x 1  = 2
2 x 2  = 4
2 x 3  = 6
2 x 4  = 8
2 x 5  = 10
2 x 6  = 12
2 x 7  = 14
2 x 8  = 16
2 x 9  = 18
2 x 10 = 20
++**(())**++
3 x 0  = 0
3 x 1  = 3
3 x 2  = 6
3 x 3  = 9
3 x 4  = 12
3 x 5  = 15
3 x 6  = 18
3 x 7  = 21
3 x 8  = 24
3 x 9  = 27
3 x 10 = 30
++**(())**++

In [96]:
for i in [1,2]:
    for j in ["cumali", "sibel"]:
        for k in ["****"]:
            print(i, j, k)

1 cumali ****
1 sibel ****
2 cumali ****
2 sibel ****

kullanicinin girdigi bir sayinin Armstrong number olup olmadigini tespit eden bir algoritma olusturun

In [100]:
girilen_sayi = input("bir sayi girin ki, Armstrong mu bakayim gari")
ust = len(girilen_sayi)
toplam = 0

for i in girilen_sayi:
    
    toplam += int(i) ** ust

if toplam == int(girilen_sayi):
    print("{} bu bir armstrong sayidir".format(girilen_sayi))
else:
    print("{} bu bir armstrong sayi degildir.".format(girilen_sayi))

407 bu bir armstrong sayidir

In [111]:
girilen_sayi = input("bir sayi girin ki, Armstrong mu bakayim gari")

ust = len(girilen_sayi)

toplam = sum([int(i) ** ust for i in girilen_sayi])

if toplam == int(girilen_sayi):
    print("{} bu bir armstrong sayidir".format(girilen_sayi))
else:
    print("{} bu bir armstrong sayi degildir.".format(girilen_sayi))

370 bu bir armstrong sayidir

10 ile 10000 arasindaki Armstrong sayilari bulan kod.

In [112]:
for i in range(10, 10001):

    number = str(i)

    ust = len(number)

    toplam = sum([int(i) ** ust for i in number])

    if toplam == int(number):
        print("{} bu bir armstrong sayidir".format(number))

153 bu bir armstrong sayidir
370 bu bir armstrong sayidir
371 bu bir armstrong sayidir
407 bu bir armstrong sayidir
1634 bu bir armstrong sayidir
8208 bu bir armstrong sayidir
9474 bu bir armstrong sayidir