## filter

In [84]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [1]:
filter(None, "hello")

In [2]:
list(filter(None, "hello"))

['h', 'e', 'l', 'l', 'o']

In [3]:
list(filter(None, [0,1,2,[],True,False,"hello","",5.4])) # False lari siler, truty leri return eder

[1, 2, True, 'hello', 5.4]

In [4]:
def tek_sayilar(x):

    if x % 2 == 1:
        return True
    else:
        return False

In [85]:
tek_sayilar(5)

True

In [86]:
tek_sayilar(6)

False

In [87]:
filter(tek_sayilar, [1,2,3,4,5,6,7,8,9]) # islem yapti ama return yok

In [88]:
list(filter(tek_sayilar, [1,2,3,4,5,6,7,8,9])) # return icin list, tupple, set kullanilabilir

[1, 3, 5, 7, 9]

In [89]:
list(filter(tek_sayilar, [2,4,6,8]))

[]

In [43]:
name_list = ["sedat", "techpro", "canan", "Enes", "Murat", "Hikmet"]

In [92]:
def len_5(x):
    return True if len(x) == 5 else False

In [95]:
len_5("canan")

True

In [96]:
len_5("hikmet")

False

In [97]:
list(filter(len_5,name_list))

['sedat', 'canan', 'Murat']

In [101]:
def len_5a(x): return True if len(x) == 5 else False

In [103]:
len_5a("Nasuhi")

False

In [104]:
list(filter(len_5a, name_list))

['sedat', 'canan', 'Murat']

In [5]:
def len_5a(x):
    if len(x) == 5:
        return True

# Lambda ile fonksiyon olusturma

In [6]:
def sayi_kare(x):
    return x ** 2

In [7]:
sayi_kare(5)

25

In [8]:
lambda x : x ** 2

In [9]:
(lambda x : x ** 2)(5)

25

In [10]:
def mean(x, y):
    return (x + y) / 2

In [11]:
mean(10,20)

15.0

In [12]:
lambda x, y : (x + y ) / 2

In [13]:
(lambda x, y : (x + y ) / 2)(20,40)

30.0

In [14]:
ortalama = lambda x, y : (x + y ) / 2 # lambda yi degiskene tanimlayip sonra da kullanabiliriz

In [15]:
ortalama(12, 14)   #

13.0

In [105]:
(lambda name: len(name) == 5)("sedat")

True

In [106]:
(lambda name: len(name) == 5)("enes")

False

In [17]:
list(filter(lambda name: len(name) == 5, name_list))

['sedat', 'canan', 'Murat']

In [28]:
# palidrom kelimeler
def palindrom(x):
    return x == x[::-1]

In [110]:
def palindrom1(x) : return x == x[::-1]

In [111]:
palindrom1("nalan")

True

In [30]:
palindrom("nasuh")

False

In [31]:
(lambda name : name == name[::-1])("sedat") # yukaridakinin lambda hali

False

In [32]:
(lambda name : name == name[::-1])("ey edip adanada pide ye")

True

In [33]:
(lambda name : name == name[::-1])("sedat","ali")

TypeError: <lambda>() takes 1 positional argument but 2 were given

In [34]:
(lambda * x : x ** 2 if x % 2 else 2 * x)

In [35]:
(lambda *x : [x])(4, "ali", 5, 8)

[(4, 'ali', 5, 8)]

In [37]:
(lambda *x : x * 5)(2,5)

(2, 5, 2, 5, 2, 5, 2, 5, 2, 5)

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv("adult_eda.csv")

In [6]:
df  # verilen data dan bilgi süzmek icin kullan atlik lambda kullanacagiz

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12.0,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9.0,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9.0,Never-married,Adm-clerical,NaN,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [7]:
df.sex.apply(lambda x : 0 if x == "Male" else 1)

0        0
1        0
2        0
3        0
4        1
        ..
32556    1
32557    0
32558    1
32559    0
32560    1
Name: sex, Length: 32561, dtype: int64

In [55]:

sayilar_listesi = [2,45,62,8,35,9,74,42,14]

In [56]:
list(filter(lambda x : x % 2, sayilar_listesi))

[45, 35, 9]

In [57]:
list(filter(lambda x : not x % 2, sayilar_listesi))

[2, 62, 8, 74, 42, 14]

# map()

In [58]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [59]:
sayi_kare(8)

64

In [60]:
map(sayi_kare, [1, 2, 3, 4, 5])

In [61]:
list(map(sayi_kare, [1, 2, 3, 4, 5]))

[1, 4, 9, 16, 25]

In [62]:
list(map(len, ["ssedat", "techpro", "enes"]))

[6, 7, 4]

In [66]:
tuple(map(str.upper, ["ssedat", "techpro", "enes"]))

('SSEDAT', 'TECHPRO', 'ENES')

In [67]:
set(map(str.upper, ["ssedat", "techpro", "enes"]))

{'ENES', 'SSEDAT', 'TECHPRO'}

In [8]:
dict(map(str.upper,("sedat","techpro","enes")))

ValueError: dictionary update sequence element #0 has length 5; 2 is required

In [10]:
sayilar_listesi_2 = [2,9,6,5,12,11,20]

In [11]:
list(map(lambda x : x ** 2 if x % 2 else 2 * x, sayilar_listesi_2))

[4, 81, 12, 25, 24, 121, 40]

In [12]:
tek_kare_cift_iki=lambda x : x ** 2 if x % 2 else 2 * x

In [15]:
map(tek_kare_cift_iki, sayilar_listesi_2)

In [16]:
list(map(tek_kare_cift_iki, sayilar_listesi_2))

[4, 81, 12, 25, 24, 121, 40]

In [74]:
def my_map(* args):
    liste = []
    for i in args:
        liste.append(tek_kare_cift_iki(i))
    return liste

In [75]:
my_map(2,6,3,7,4,9)

[4, 12, 9, 49, 8, 81]

faktöriyel soru cözümü

In [76]:
def fact_while(x):
    carpim_degeri = 1
    while x > 0:
        carpim_degeri *= x
        x -= 1
    return carpim_degeri

In [77]:
fact_while(5)

120

In [78]:
def fac_for(x):
    carpim_degeri = 1
    for i in range(1, x +1):  # in range(x,0,-1)
        carpim_degeri *= i
    return carpim_degeri

In [79]:
fac_for(5)

120

### recursive()

In [80]:
def fact_recursive(x): # bu döngüyü durduracak bir kod lazim
    
    if x == 0:
        return 1
    return x * fact_recursive(x-1)

In [81]:
fact_recursive(5)

120

In [83]:
fact_recursive(4)

24