# Dictionaries

In [ ]:
   # dic coklu veri saklama amacli kullanilir. bir nesneye birden fazla
   # deger atamak istedigimizde kullnilir

In [ ]:
dict()   # seklinde veya
{}      # deklinde yapilir

In [1]:
dict_1 = {"key1" : "value1", "key2" : "value2", "key3" : "value3"}
dict_1

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [2]:
dict_1.items()

dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3')])

In [3]:
dict_1.keys()

dict_keys(['key1', 'key2', 'key3'])

In [4]:
dict_1.values()

dict_values(['value1', 'value2', 'value3'])

In [5]:
dict_1[0]

KeyError: 0

In [7]:
dict_1["key1"]  # dict leri key lerine veya valulerina gÃ¶re cagirabiliriz

'value1'

#### key olusturma

In [9]:
dict_2 = {1 : "one", 2 : "two", 3: "three"}
dict_2

{1: 'one', 2: 'two', 3: 'three'}

In [10]:
dict_2[1]  # buradaki 1 index degil, key dir

'one'

In [11]:
dict_3 = {False : 0, True : 1}
dict_3

{False: 0, True: 1}

In [12]:
dict_4 = {3.14 : "pi num", 3.5 : "other num"} 
# dict lerin keyi olarak list kullanilamaz ama tuple kullanilabilir
dict_4

{3.14: 'pi num', 3.5: 'other num'}

In [13]:
dict_5 = {[1,2,3] : "liste_1"}
dict_5

TypeError: unhashable type: 'list'

In [14]:
dict_6 = {{3.14 : "pi_num"}}
dict_6

TypeError: unhashable type: 'dict'

In [15]:
dict_7 = {(1,2,3) : "tuple_1"}
dict_7

{(1, 2, 3): 'tuple_1'}

In [16]:
dict_8 = {"ogrenci" : ["saffet", 32, "data_scientist"]}
dict_8

{'ogrenci': ['saffet', 32, 'data_scientist']}

In [17]:
dict_10 = {"key1", "key2", "key3" : "one", "two", "three"}
dict_10

SyntaxError: invalid syntax (2562751698.py, line 1)

In [18]:
dict(one = 1, two = 2)

{'one': 1, 'two': 2}

In [20]:
dict(1 = "bir", 2 = "iki")

{'a1': 'bir', 'a2': 'iki'}

In [30]:
dict_12 = {"friend1" : "ahmet" , "friend2" : "Tom" , "friend3" : "Tim"}
dict_12

{'friend1': 'ahmet', 'friend2': 'Tom', 'friend3': 'Tim'}

In [31]:
dict(friend1 = "ahmet", friend2 = "tom", friend3 = "tim")

{'friend1': 'ahmet', 'friend2': 'tom', 'friend3': 'tim'}

In [32]:
dict_12["friend4"] = "jerry"

In [33]:
dict_12

{'friend1': 'ahmet', 'friend2': 'Tom', 'friend3': 'Tim', 'friend4': 'jerry'}

In [34]:
dict_12["friend1"] = "Aysun"
dict_12

{'friend1': 'Aysun', 'friend2': 'Tom', 'friend3': 'Tim', 'friend4': 'jerry'}

In [36]:
dict_12["friend5"] = "Tom"   # ayni value farkli keylere tanimlanabilir
dict_12

{'friend1': 'Aysun',
 'friend2': 'Tom',
 'friend3': 'Tim',
 'friend4': 'jerry',
 'friend5': 'Tom'}

In [35]:
{"name" : "selma", "age" : 23, "job" : "data_sc", "name" : "taha"}
# key ler uniq dir yani ayni anda iki value atayamayiz

{'name': 'taha', 'age': 23, 'job': 'data_sc'}

In [37]:
person_info = {"name" : ["saffet", "ismail", "hilal"], "age" : [32, 25, 30]}
person_info

{'name': ['saffet', 'ismail', 'hilal'], 'age': [32, 25, 30]}

In [38]:
person_info.items()

dict_items([('name', ['saffet', 'ismail', 'hilal']), ('age', [32, 25, 30])])

In [39]:
person_info.keys()

dict_keys(['name', 'age'])

In [40]:
person_info.values()

dict_values([['saffet', 'ismail', 'hilal'], [32, 25, 30]])

In [41]:
person_info["name"]

['saffet', 'ismail', 'hilal']

In [42]:
person_info["name"].append("aybÃ¼ke")

In [43]:
person_info

{'name': ['saffet', 'ismail', 'hilal', 'aybÃ¼ke'], 'age': [32, 25, 30]}

In [62]:
sayilar = {"tek_sayilar" : [], "cift_sayilar" : []}
sayilar

{'tek_sayilar': [], 'cift_sayilar': []}

In [66]:
sayilar["tek_sayilar"] = list(range(1,11,2))

In [67]:
sayilar["cift_sayilar"] = list(range(0,11,2))

In [68]:
sayilar

{'tek_sayilar': [1, 3, 5, 7, 9], 'cift_sayilar': [0, 2, 4, 6, 8, 10]}

#### update()

In [86]:
dict_14 = {1 : "one", 2 : "two", 3 : "three"}
dict_14

{1: 'one', 2: 'two', 3: 'three'}

In [87]:
dict_14[5] = "five"

In [121]:
dict_14.update({8 : "eigth"})
dict_14

{1: 'bir', 2: 'two', 3: 'uc', 5: 'five', 6: 'six', 7: 'seven', 8: 'eigth'}

In [88]:
dict_14

{1: 'one', 2: 'two', 3: 'three', 5: 'five'}

In [89]:
dict_14.update({6 : "six", 7 : "seven"}) # dict e dict eklemis olduk

In [90]:
dict_14

{1: 'one', 2: 'two', 3: 'three', 5: 'five', 6: 'six', 7: 'seven'}

In [91]:
dict_14.update({1 : "bir", 3 : "uc"})
dict_14

{1: 'bir', 2: 'two', 3: 'uc', 5: 'five', 6: 'six', 7: 'seven'}

#### clear()

In [122]:
dict_2

{1: 'one', 2: 'two', 3: 'three'}

In [123]:
dict_2.clear()

In [124]:
dict_2   # dict_2 yi sildik

{}

#### pop()

In [92]:
dict_14

{1: 'bir', 2: 'two', 3: 'uc', 5: 'five', 6: 'six', 7: 'seven'}

In [93]:
dict_14.pop()

TypeError: pop expected at least 1 argument, got 0

In [ ]:
dict_14.pop(9)

KeyError: 9

In [ ]:
dict_14.pop(3)

'three'

In [ ]:
dict_14

{1: 'one', 2: 'two', 5: 'five'}

#### get()

In [ ]:
dict_14.get(2)

'two'

In [ ]:
dict_14.get(5)

'five'

## nested dicts

In [94]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [95]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [96]:
myfamily.get("child1")

{'name': 'Emil', 'year': 2004}

In [97]:
myfamily.get("child1").get("name")

'Emil'

In [101]:
myfamily.get("child1").update({"sex" : "male"})

In [102]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004, 'sex': 'male'},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

# in, not in

In [103]:
"e" in "hello"

True

In [104]:
"a" in "hello"

False

In [105]:
"e" not in "hello"

False

In [106]:
"a" not in "hello"

True

In [107]:
1 in [1, 2, 3, 4]

True

In [108]:
8 in [1, 2, 3, 4]

False

In [109]:
8 not in [1, 2, 3, 4]

True

In [110]:
dict_14

{1: 'bir', 2: 'two', 3: 'uc', 5: 'five', 6: 'six', 7: 'seven'}

In [111]:
1 in dict_14     # in fonksiyonu sadece key leri sorgular

True

In [113]:
"bir" in dict_14

False

In [114]:
"bir" in dict_14.values()  # valueler icin bu sekilde arama yaptirabiliriz

True

In [115]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004, 'sex': 'male'},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [116]:
"child1" in myfamily

True

In [117]:
"name" in myfamily

False

In [119]:
"name" in myfamily.get("child1")

True