In [1]:
print("hello world")

hello world

In [5]:
print("nörüyon la piton"

SyntaxError: incomplete input (4056701561.py, line 1)

In [2]:
print("cift tirnakla baslayan cift tirnakla bitmeli")

cift tirnakla baslayan cift tirnakla bitmeli

In [3]:
print('tek trinakla baslyan tek tirnakla bitmeli')

tek trinakla baslyan tek tirnakla bitmeli

                                      markdown aciklama icin kullanilir

In [6]:
print(' I'm learning pyhton')

SyntaxError: unterminated string literal (detected at line 1) (389630834.py, line 1)

In [7]:
print("I'm learning pyhton")

I'm learning pyhton

In [8]:
print(""" merhaba ben nasuh""")

 merhaba ben nasuh

In [9]:
print('''merhaba ben nasuh''')

merhaba ben nasuh

In [13]:
print(""""""hello"""""")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1372547134.py, line 1)

In [15]:
print("Dann kannst Du hier zahlreiche Angebote vergleichen und Verkäufer direkt kontaktieren. Professionelle Autohändler oder Privatverkäufer, Firmenfahrzeuge von gewerblichen Anbietern oder Jahreswagen. Auch mit Gebrauchtwagen-Garantie oder Qualitätssiegel.")

Dann kannst Du hier zahlreiche Angebote vergleichen und Verkäufer direkt kontaktieren. Professionelle Autohändler oder Privatverkäufer, Firmenfahrzeuge von gewerblichen Anbietern oder Jahreswagen. Auch mit Gebrauchtwagen-Garantie oder Qualitätssiegel.

In [16]:
print("Dann kannst Du hier zahlreiche Angebote vergleichen und Verkäufer direkt kontaktieren. 
      Professionelle Autohändler oder Privatverkäufer, 
      Firmenfahrzeuge von gewerblichen Anbietern oder Jahreswagen. 
      Auch mit Gebrauchtwagen-Garantie oder Qualitätssiegel.")

SyntaxError: unterminated string literal (detected at line 1) (686804304.py, line 1)

In [17]:
print("""Dann kannst Du hier zahlreiche Angebote vergleichen und Verkäufer direkt kontaktieren. 
Professionelle Autohändler oder Privatverkäufer, 
Firmenfahrzeuge von gewerblichen Anbietern oder Jahreswagen. 
Auch mit Gebrauchtwagen-Garantie oder Qualitätssiegel.""")

Dann kannst Du hier zahlreiche Angebote vergleichen und Verkäufer direkt kontaktieren.
Professionelle Autohändler oder Privatverkäufer,
Firmenfahrzeuge von gewerblichen Anbietern oder Jahreswagen.
Auch mit Gebrauchtwagen-Garantie oder Qualitätssiegel.

""" (uc tirnak la uzun metinleri yazdira biliriz. VEYA xalismasini istemedigimiz kodlarin basi v sonuna koyariz ve o kodlar calismaz, yazilmis kodlarda silinmemis olur)

                    pep8 kurallari

PEP 8 (Python Enhancement Proposal 8), Python programlama dilinde kodun stil ve düzeni için önerilen bir kılavuzdur. Bu kılavuz, Python topluluğu tarafından kabul edilmiş bir standarttır ve kodun okunabilirliğini artırmayı hedefler. İşte bazı önemli PEP 8 kuralları:

İsimlendirme:
Değişken ve fonksiyon isimleri küçük harflerle ve gerektiğinde alt çizgi (_) kullanarak yazılır. Örnek: my_variable, my_function.
Sabit (constant) isimleri tamamen büyük harflerle yazılır. Örnek: MY_CONSTANT.
Sınıflar için CamelCase isimlendirme kullanılır. Örnek: MyClass.
Modül isimleri küçük harflerle ve gerektiğinde alt çizgi (_) kullanarak yazılır. Örnek: my_module.

Girintileme:
4 boşluk veya bir sekme karakteri kullanarak girintileme yapılır. Girintileme seviyeleri arasında tutarlılık sağlanmalıdır.
Girintileme seviyesi, her seviye için 4 boşluk kullanılması önerilir.

Satır Uzunluğu:
Bir satırın en fazla 79 karakter olmasını önerilir. Uzun satırları bölmek için parantezler veya satır sonlarındaki devam işareti () kullanılabilir.

Boşluklar:
Operatörlerin etrafında ve virgül sonrasında bir boşluk bırakılması önerilir. Örnek: a = 10 + 5, my_function(arg1, arg2).
Parantezlerin içinde ve etrafında boşluk bırakılması önerilir. Örnek: my_function(arg1, arg2).
İfadeler arasında ve fonksiyon tanımları arasında bir boşluk bırakılması önerilir.
Dosyaların en üstünde ve sınıf/fonksiyon tanımlarının başında 2 boş satır bırakılması önerilir.

Yorumlar:
Kodun anlaşılmasını kolaylaştırmak için açıklayıcı yorumlar kullanılmalıdır.
Yorumlar, kodun üzerinde yer almalı veya boş bir satır ile ayrılmalıdır.
Kısa yorumlar için # sembolü kullanılır, daha uzun açıklamalar için çok satırlı yorumlar (''' ... ''' veya """ ... """) kullanılır.
Bu, PEP 8'in bazı temel kurallarını özetlemektedir. Daha fazla ayrıntı için orijinal PEP 8 belgesine başvurmanız önerilir.

#### comment

In [18]:
3+5 # 3 ile 5 in toplami gibi/ grtrktiginde aciklama yazilir

8

## variables

In [20]:
name="ali" # name degiskenine ali yi tanimladik (string tipi degisken)
print(name)

ali

In [21]:
age=33   # age degiskenine 33 ü tanimladik (int integer tipi degisken)
print(age)

33

In [22]:
pi_sayisi=3,14   # pi degiskenini tanimladik (float tipi degisken)
print(pi_sayisi)

(3, 14)

degiskenler rakamla baslayamaz, ikiden fazla kelimeyi _ ile bagla,

In [23]:
first_name="kerim"
last_name="abdul"
print(first_name, last_name)

kerim abdul

In [25]:
name_1, name_2 = "Rabia", "Cengiz"
print(name_1), print(name_2), print(pi_sayisi), print(first_name), print(last_name)

Rabia
Cengiz
(3, 14)
kerim
abdul

(None, None, None, None, None)

In [26]:
name_3, name_4 = "yusuf"

ValueError: too many values to unpack (expected 2)

In [27]:
name_3 = "yusuf", "Senih"
print(name_3)

('yusuf', 'Senih')

In [28]:
name_4 = "Fatih"
name_5 = "Fatih"
print(name_4, name_5)

Fatih Fatih

In [1]:
pi=3
num=1

print(pi)
print(num)

3
1

# Data Types

In [2]:
"Hello world" # strhello world

'Hello world'

In [3]:
print(type("enes")) # type ögrenmek icin bu sekilde sorgulama yapilabilir

<class 'str'>

In [4]:
type("sedat") # jupiter icin bu sekilde de sorgulanabilir

str

In [7]:
type("3"), type('5'), type(7)

(str, str, int)

In [8]:
age = 43
type(age)

int

In [10]:
pi_number = """3.14"""
type(pi_number)

str

In [12]:
type(False), type(True) # boolean tipi data

(bool, bool)

# Type Coversion

## all types to str

In [17]:
age = 32
print(type(age))

<class 'int'>

In [16]:
converted_age = str(age)     # str yapmak icin sadece yaziyoruz, istersek bir fonksiyon yapabiliriz 
print(converted_age)
print(type(converted_age))

32
<class 'str'>

In [18]:
pi_number = 3.14
type(pi_number)

float

In [20]:
converted_pi = str(pi_number)
print(type(converted_pi))

<class 'str'>

In [22]:
x = False
y = True
str(x), str(y)

('False', 'True')

## str to int or float

In [24]:
sayi_1 = "35"
sayi_2 = "otuz"

In [26]:
int(sayi_1)
type(int(sayi_1))

int

In [27]:
int(sayi_2)   # ifadenin integer gibi görünmesi lazim !!!

ValueError: invalid literal for int() with base 10: 'otuz'

In [28]:
sayi_3 = "3.14"
sayi_4 = "3,15"  # parantez icindeki virgülden dolayi iki degisken oldugunu algiliyor
sayi_5 = "ücnoktaondort"

In [29]:
float(sayi_3)
type(sayi_3)

str

In [30]:
float(sayi_4) # virgulden dolayi ceviremiyor

ValueError: could not convert string to float: '3,15'

In [31]:
float(sayi_5)

ValueError: could not convert string to float: 'ücnoktaondort'

## float to integer or int to float

In [32]:
sayi_6 = 24
sayi_7 = 5.6
print(type(sayi_6))
print(type(sayi_7))

<class 'int'>
<class 'float'>

In [35]:
float(sayi_6)
print(type(float(sayi_6)))

<class 'float'>

In [37]:
int(sayi_7)    # noktadan sonrasini siler atar
print(type(int(sayi_7)))

<class 'int'>

In [38]:
int(5.9999), int(-3.8), int(34.33)

(5, -3, 34)

In [41]:
int(5.99999999999999999999999999999999999999)#noktadan sonra 16 haneyi geciyorsa yukariya yuvarliyor :)

6

# bool to int or float

In [49]:
x = False
y = True
print(type(x))
print(type(y))

<class 'bool'>
<class 'bool'>

In [50]:
int(x)   # False un karsiligi 0
print(type(int(x)))

<class 'int'>

In [51]:
int(y)   #True nun karsiligi 1
print(type(int(y)))

<class 'int'>

In [52]:
float(x)
print(type(float(x)))

<class 'float'>

In [53]:
float(y)
print(type(float(y)))

<class 'float'>

In [2]:
jan = march = may = jul = august = oct = dec = 31
apr = jun = sep = nov = 30
feb = 28                         # bu sekildede de degiskenler tanimlanabilir

jan, march, may, jul, august, oct, dec = 31, 31, 31, 31, 31, 31, 31
apr, jun, sep, nov, 30, 30, 30, 30
feb = 28

In [3]:
print(jan, march, may, jul, august, oct, dec, apr, jun, sep, nov, feb)

31 31 31 31 31 31 31 30 30 30 30 28