### Tuples

In [19]:
 tuple()     # degistirilemedigi icin kullanim alani degisir
()              # listeler degistirilebilir 
            #icine iterible eleman alir, degistirilmez
# () le tek elemanli tuple olusturmak icin sonuna virgül koymaliyiz.

()

In [20]:
name = "Techpro"

In [21]:
tuple(name)

('T', 'e', 'c', 'h', 'p', 'r', 'o')

In [22]:
tuple_1 = tuple("pinar")

In [23]:
type(tuple_1)

tuple

In [24]:
tuple(123)

TypeError: 'int' object is not iterable

In [25]:
tuple([1,2,3])

(1, 2, 3)

In [26]:
type(["Techpro"])

list

In [27]:
("Techpro")

'Techpro'

In [28]:
type(("Techpro"))

str

In [29]:
("Techpro",)     # tek elemanli tuple olusturmak icin , kullanilmali

('Techpro',)

In [30]:
type(("Techpro",))

tuple

In [34]:
len(("Techpro",)) # uzunlugu 1 yani tek eleman

1

In [31]:
3,14    # elemani 3 ve 14 olan tupple olarak algilar / 3.14 floattir

(3, 14)

In [33]:
"ali", "veli"

('ali', 'veli')

In [36]:
tuple_2 = 1, "Enes", True
tuple_2

(1, 'Enes', True)

In [37]:
type(tuple_2)

tuple

In [39]:
name_4 = "furkan", "yusuf"
name_4

('furkan', 'yusuf')

In [40]:
type(name_4)

tuple

In [41]:
name_5 = "yahya",     # tuple tipi veri
name_5

('yahya',)

In [42]:
("ahmet", "mehmet") + ("ismail",) # toplama islemi (birlestirme islemi)

('ahmet', 'mehmet', 'ismail')

In [43]:
("ahmet", "mehmet") * 3   # carpma islemi

('ahmet', 'mehmet', 'ahmet', 'mehmet', 'ahmet', 'mehmet')

#### indexing

In [44]:
tuple_3 = ("ahmet", "mehmet", "ismail")
tuple_3

('ahmet', 'mehmet', 'ismail')

In [46]:
tuple_3[0]

'ahmet'

In [47]:
tuple_3[0][1]

'h'

In [48]:
tuple_3[1] = "Fr"   # degistirilemezzzzzzzz

TypeError: 'tuple' object does not support item assignment

In [49]:
("ali", "mehmet"+"ali")   # tuple olustururken bir birlestirme islemi ...

('ali', 'mehmetali')

In [50]:
type(("ali", "mehmet"+"ali"))

tuple

In [54]:
("dada",)   # tuple , virgül tuple yapan virgül

('dada',)

In [51]:
tuple("dada",)   # fonksiyon icine parametre gönderilmis , virgül harfleri ayiran virgül

('d', 'a', 'd', 'a')

In [52]:
tuple("dada", "mama")

TypeError: tuple expected at most 1 argument, got 2

In [53]:
tuple(("dada",))

('dada',)

#### range()

In [55]:
range(4,15)  # range(Start(dahil), Stop(dahildegil))  ve list veya tuple ile cikti verir

range(4, 15)

In [56]:
tuple(range(4,15))  # range fonksiynu iterable dir

(4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14)

In [59]:
list(range(4,15))  # fonksiyonlar parametrelerini virgül ile ayirir

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [58]:
tuple(range(4,15,2)) # start, stop, step

(4, 6, 8, 10, 12, 14)

In [60]:
tuple(range(15,4,-1))

(15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5)

In [61]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [69]:
tuple(range(-10))

()

In [63]:
tuple(range(-10,10))

(-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [64]:
tuple(range(-10,10))[0]

-10

In [66]:
for i in range(10):
    print(i, end="-")

0-1-2-3-4-5-6-7-8-9-

In [67]:
print(tuple(range(1,10)))

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [68]:
tuple(range(4,15,1.5))

TypeError: 'float' object cannot be interpreted as an integer

In [70]:
potpori = (3, 4.5, False, [1, 2, 3], (4, 5, 6), "Halil")
potpori

(3, 4.5, False, [1, 2, 3], (4, 5, 6), 'Halil')

In [71]:
potpori[3]

[1, 2, 3]

In [72]:
potpori[3].append(4)

In [73]:
potpori     # tuple icindeki elemani degistirerek tuple da degistirebiliriz.

(3, 4.5, False, [1, 2, 3, 4], (4, 5, 6), 'Halil')

In [74]:
del potpori[3]

TypeError: 'tuple' object doesn't support item deletion

In [75]:
potpori.index(3)  # 3 hangi index te onu gösterir

0

In [76]:
potpori.index([1, 2, 3, 4])

3

In [77]:
potpori.count(3)    # tuple da kac tane 3 var?

1

In [78]:
(1,2,3,2,4,2,5).index(2)  # ilk 2 nin index i

1

In [79]:
(1,2,3,2,4,2,5).count(2) # tuple da kac defa 2 var

3

In [88]:
degisken_1 = input("birinci degiskeni giriniz")
degisken_2 = input("ikinci degiskeni giriniz")

if degisken_1.isnumeric() and degisken_2.isnumeric():
    print(int(degisken_1) + int(degisken_2))
else:
    print("toplama islemi yapilamaz")

98

In [1]:
"""
a = input("birinci degiskeni giriniz")
b = input("ikinci degiskeni giriniz")
if type(int(a)) == True and type(int(b)) == True:
    print(a + b)
    #hata nerde anlayamadim
    """

In [93]:
ord("N"), ord("a"), ord("s"), ord("u"), ord("h")

(78, 97, 115, 117, 104)

In [2]:
chr(78), chr(97), chr(115), chr(117), chr(104)

('N', 'a', 's', 'u', 'h')

In [3]:
chr(78, 97, 115, 117, 104)

TypeError: chr() takes exactly one argument (5 given)